body, html {
  margin: 0;
  font-family: monospace;
  background-image: url(./bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

a {
  color: #F4C430;
  text-decoration: none;
}

.entry {
  display: grid;
  height: 300px;
  margin: 30px;
  background-color: #fcfcfc80;
  border-radius: 10px;
  box-shadow: 0 0 15px #0002;
  top: 0;
  position: absolute;
  width: calc(100vw - 60px);
  overflow: hidden;
}

.entry::before {
  content: '';
  position: absolute;
  margin: -35px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: blur(10px);
  z-index: -1;
  background-image: url(./bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.entry-cont {
  text-align: center;
  font-size: xx-large;
}

.top-bar {
  height: 50px;
  background-color: #fcfcfc;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 0 5px #0002;
  align-content: center;
  display: grid;
  padding-left: 10px;
}

.projects {
  margin: 20px;
  top: 350px;
  position: absolute;
}

h3 {
  margin: 0;
  padding: 0;
}
  