body {
  background-color: #fcfcfc;
  font-family: sans-serif;
  margin: 0;
}

.content {
  margin-left: 15px;
  background-color: #fcfcfc
}

.navbar {
  width: 100%;
  height: 80px;
  background-color: #f9e79f;
  box-shadow: 0px 6px 10px 0px 4px #ececec;
}

.nav-button {
  display: inline-block;
  background-color: #ee9d7a;
  text-decoration: none;
  height: 30px;
  color: #FFFFFF;
  border-radius: 10px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  transition-duration: 0.4s; 
  font-size: 18px;
  margin-left: 50;
  margin-top: 20;
  transition: transform 0.4s;
  box-shadow: 0px 4px 4px 0px #e7d898;
}

.nav-button:hover{
  background-color: #fcfcfc;
  color: #ee9d7a;
  transform: scale(1.2);
  box-shadow: 0px 6px 5px 1px #e7d898;

}
