body {
  background-color: #fcfcfc;
  font-family: 'Besley', serif;
  margin: 0;
  animation: fadeInAnimation ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
  animation-delay: 1.5s;
}

img {
  width: 100%;
  height: 60px;
}

img.image {
  border-radius: inherit;
  width: 400px;
  height: 256px;
  align-self: center;
}

span {
  display: block;
}

button {
  float: right;
  color: #fff;
  margin-right: -30px;
  margin-top: -70px;
  background: linear-gradient(to bottom right, yellow, lightgreen, #4fc3f7);
  border: none;
  cursor: pointer;
  border-radius: 10pc;
  opacity: 0;
  transition: opacity 0.5s;
}

li {
  font-size: large;
}

div.banner {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
} 

.header {
  background: linear-gradient(to top left, lightcoral, #ffb74d, yellow, lightgreen, #4fc3f7, #ba68c8);
  display: flex;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 40px;
  box-shadow: 0 0 20px 10px #f1f1f1;
  font-size: 50px;
  justify-content: space-evenly;
}

.title {
  background: linear-gradient(to right, #fff435, #fcec73, #9869ac);
  padding-left: 55px;
  padding-right: 55px;
  color: #3d3b3c;
  border-radius: 80px;
  margin-top: -95px;
  margin-left: -55px;
  margin-right: -55px;
  box-shadow: 0 10px 10px -5px #E2E2E2;
  text-align: center;
}

.title:target {
  text-decoration: underline dotted;
}

.content {
  color: #3d3b3c;
  padding: 55px;
  background-color: #fff;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 40px;
  font-size: x-large;
  box-shadow: 0 0 20px 10px #f1f1f1;
}

.link {
  color: #9869ac;
  text-decoration: none;
  font-weight: bold;
}

.title:hover button {
  opacity: 1;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
