body {
  background-color: #fcfcfc;
  font-family: 'Hina Mincho', serif;
  margin: 0;
  display: grid;
}

img {
  border-radius: 15px;
}

span {
  display: block;
}

.header {
  color: #424242;
  padding: 15px;
  background-color: #b7e9ff;
  border-radius: 15px;
  margin-top: 10px;
  margin-left: 40px;
  margin-right: 40px;
  display: inline-grid;
  justify-content: center;
  text-align: center;
  font-size: x-large;
}

.content {
  color: #424242;
  padding: 15px;
  background-color: #ffc107;
  border-radius: 15px;
  margin-top: 10px;
  margin-left: 40px;
  margin-right: 40px;
  font-size: large;
}
