body {
  background-color: #fcfcfc;
  font-family: 'Besley', serif;
  margin: 0;
}

img {
  width: 100%;
}

span {
  display: block;
}

div.banner {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  box-shadow: 0 10px 10px #C9C9C9;
}

.header {
  color:3d3b3c;
  background-color: transparent;
  display: grid;
  width: 100%;
  justify-content: center;
  text-align: center;
  font-size: xx-large;
}

.content {
  color: #f3f3f1;
  padding: 35px;
  background-color: #996cac;
  border-radius: 15px;
  margin-top: 10px;
  margin-left: 40px;
  margin-right: 40px;
  font-size: large;
}
